<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" cacheDirectory=".phpunit.cache" beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="512M"/>
    <server name="KERNEL_CLASS" value="App\Kernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="CORS_ALLOW_ORIGIN" value="*"/>
  </php>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
